body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;  /* Altera o fundo do site para preto */
    color: white;  /* Torna o texto branco para contraste */
    display: flex;
    justify-content: center;  /* Centraliza o conteúdo horizontalmente */
    align-items: flex-start;  /* Alinha o conteúdo no topo da tela */
    height: 100vh;  /* Garantir que a altura ocupe toda a tela */
    flex-direction: column;  /* Organiza os elementos em coluna (header + main) */
}

header {
    background-color: #000;  /* Fundo preto no header */
    color: #39FF14;  /* Cor do texto verde fluorescente */
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: fixed;  /* Fixa o header no topo */
    top: 0;  /* Alinha o header ao topo da tela */
    left: 0;
    z-index: 10;  /* Garante que o header fique sobre o conteúdo */
    border-bottom: 2px solid #39FF14;  /* Linha fininha em verde fluorescente abaixo do header */
}

nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background-color: #333;  /* Fundo do menu lateral */
    position: fixed;
}

nav a {
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;  /* Cor de fundo do link quando passa o mouse */
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  /* Cria colunas com largura mínima de 250px */
    justify-items: center;  /* Alinha os cards horizontalmente no centro de cada célula */
    align-items: center;  /* Alinha os cards verticalmente no centro de cada célula */
    width: 90vw;  /* Largura do main, com 10% de espaço para as margens */
    height: calc(100vh - 80px);  /* Altura ajustada para o restante da tela, considerando o header fixo */
    overflow-y: auto;  /* Permite que o conteúdo do main seja rolável */
    margin-top: 80px;  /* Adiciona margem para evitar sobreposição do header */
    padding: 20px;  /* Adiciona um padding de 20px ao redor do conteúdo */
}

.card {
    background-color: #222;  /* Cor de fundo dos cards, para um contraste com o fundo preto */
    border-radius: 8px;  /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  /* Sombras para dar efeito 3D */
    padding: 20px;
    width: 250px;  /* Largura ajustada dos cards */
    height: 250px;  /* Altura fixa para os cards */
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Animação suave */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: translateY(-10px);  /* Eleva o card quando o mouse passa por cima */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);  /* Aumenta a sombra para dar o efeito de elevação */
}

h2 {
    color: #fff;  /* Título do card em branco */
}
